html, body {
    margin:0px;
    height:100%;
    overflow: hidden; /* Hide scrollbars */ 
    font-family: 'Open Sans';

  }
  div.node{
    display: inline-block;
    width:auto;
    
  }
  
  p{
    margin:0px;
  }
  
  .dot circle {
    fill: lightsteelblue;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
  
  .dot circle.dragging {
    fill: red;
    stroke: brown;
  }
  
  .axis line {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
    vector-effect: non-scaling-stroke;
  }

  .node{
    /* width: 100%;
    height: 100%;
    text-align: left; */
    position: absolute;
    width:auto;
    /* text-align: left; */
    overflow: hidden;
    white-space:nowrap;
    /* -webkit-user-modify: read-write;
      overflow-wrap: break-word;
      -webkit-line-break: after-white-space; */
  
  
  }
  .node.selected{
    /* fill:red;
    color:red; */
    border:1px solid black;
  }
  
.node blockquote{
    margin-inline-start: 1em;
    margin-inline-end: 0px;
}
.node ol,ul{
    padding-inline-start: 1em;
    padding-inline-start: 1em;
}

  /* .inside_node{
    
  } */
  #container{
  
    width: 100%;
    height:100%;
  }
  
  #text{
    resize: none;
      /* overflow: hidden; */
      min-height: 50px;
      max-height: 100px;
  }
  
  .custom-file-upload {
      border: 1px solid #ccc;
      display: inline-block;
      padding: 6px 12px;
      cursor: pointer;
  }
  input[type="file"] {
      display: none;
  }


  /*
===================================================================§§
  */

  .notification-top {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    /* Rest of your styling */
    border: 1px solid black;
    background-color: white;
    z-index: 1000;
  }
  .notification-bottom {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    /* Rest of your styling */
    border: 1px solid black;
    background-color: white;
    z-index: 1000;
  }
  
  #node_container{
    /* transition-duration: 0.2s; */
    display: block;
    position: absolute;
  }

  .node{
    /* display: block; */
    /* white-space: pre; */
    position: absolute;
    /* transition-duration: 0.2s; */
  }
  .node.zoom{
    transition-duration: 0.2s;
  }

  a.node_a{
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }

  a.local{
    cursor:pointer;
  }